@CHARSET "ISO-8859-1";

.panel {
    height: 500px!important;
    background-color: rgba(134, 134, 169, 0.47);
}
	
.lengthen-div {
	height: 400px;
}

.buttonalign {
    text-align: right;
    float: right;
}

ul {
  list-style-type: none;
}

li {
	float: left;
}

