
<div id="bodyClass" data-ng-controller="boardCtrl as board">
	
	
	<!-- This is to display a modal for adding a story -->
	<div id="myModal" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<span class="close">&times;</span> Story Title: <input type="text"
				placeholder="Enter a Story Title" id="storyTitle" /><br> <br>
			<button type="button" value="submitStory" id="submitStory">Create
				Story</button>
		</div>
	</div>

	<h2 id="boardTitle" contenteditable="true" ng-model="boardTitle"> {{ board.boardTitle }}</h2>
	<h4 id="boardDesc" contenteditable="true" ng-model="boardDesc"> {{ board.boardDescription }}</h4>
	<button type="button" class="glyphicon glyphicon-road btn btn-info" title="Add a Swimlane" id="addSwimLane"></button>
	<button type="button" title="Burndown Chart" id="openBurnDown" class="btn btn-info">Burndown Chart</button>
	<br>



	<div>
		<button type="button" title="Save Changes" class="btn btn-info" id="updateBoard">Save Changes</button><br><br>
	</div>
		
		
	<!-- This is to display a modal for burndown -->	
	<div id="burnDownModal" class="modal">
	
		<span class="close">&times;</span>
		<img alt="Burndown Not Found" class="centerBurndown" src="https://s-media-cache-ak0.pinimg.com/originals/69/bd/82/69bd8236c1e0c69050f7513a76360a09.jpg">
	</div>
	
</div>
