
<div id="bodyClass" data-ng-controller="boardCtrl as board">
	<h1>This is the board page</h1>
	
	
	<!-- This is to display a modal for adding a story -->
	<div id="myModal" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<span class="close">&times;</span> Story Title: <input type="text"
				placeholder="Enter a Story Title" id="storyTitle" /><br> <br>
			<button type="button" value="submitStory" id="submitStory">Create
				Story</button>
		</div>
	</div>

	<h2 id="boardTitle" contenteditable="true" ng-model="boardTitle"> {{ name }}</h2>
	<h4 id="boardDesc" contenteditable="true" ng-model="boardDesc"> {{ desc }}</h4>
	<button type="button" class="glyphicon glyphicon-road" title="Add a Swimlane" id="addSwimLane"></button>
	<button type="button" title="Burndown Chart" id="openBurnDown">Burndown Chart</button>
	<br>



	<div>
		<button type="button" title="Save Changes" id="updateBoard">Save Changes</button>
	</div>
		
	
</div>
